/Users/pradeshmainali/Desktop/advent of code/2024/day2/day2data.txt
/Users/pradeshmainali/Desktop/advent of code/2024/day1/day1data.txt
/Users/pradeshmainali/Desktop/advent of code/2024/day3/day3data.txt
/Users/pradeshmainali/Desktop/advent of code/2024/day4/day4data.txt